{% extends 'base.html' %}
        
{% block content %}
<!-- A grey horizontal navbar that becomes vertical on small screens -->
<nav class="navbar navbar-expand-sm bg-light">
    <ul class="navbar-nav mr-auto">
        <!-- LOGO -->
        <a class="navbar-brand" href="{% url 'index' %}">Coin-cidence</a>
        
        <!-- Links -->
        <li class="nav-item">
            <a class="nav-link" href="{% url 'index' %}">BTC</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'ethPrice' %}">ETH</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">NANO</a>

    </ul>
    <ul class="navbar-nav">

        <li>
            <!-- Login/Logout button -->
        
            {% if user.is_authenticated %}
            Hello {{ user.username }}, you have a uninvested fund of ${{ user.balance.usd_balance }}!
            <a class="btn btn-primary" href="{% url 'logout' %}" role="button">Logout</a>
            {% else %}
            <p>You are not logged in</p>
            <a class="btn btn-primary" href="{% url 'login' %}" role="button">Login</a>
            {% endif %}
        
        </li>
    </ul>
</nav>



<!--Coin Status Jumbotron-->
<div class="jumbotron text-center">
        
        <h4>BTC Price (USD)</h4>
    
    
    <form action="{% url 'transact' %}" method="post">
        <input type="hidden" value="BTC" name="coin_type" id="coin_type" />
        <input type="hidden" value="0" name="transact_price" id="transact_price"/>
        <input type="hidden" value={{user.id}} name="user_id" />
        
        
        
        <h1 class="display-1" id="BTC_price">Loading price data...</h1>
        
        <p></p>
        
    <!-- Action Buttons -->

    
        {% csrf_token %}
        <div class="form-group">
            <label for="transactionQuantity">Quantity:</label>
            <input id="transactionQuantity" name = "transactionQuantity" type="text" class="col-sm-2 col-form-label col-form-label-lg"   placeholder="Enter desired quantity">
            <small class="form-text text-muted">All transactions are final</small>
        </div>
    
        <button type="submit" name="submit_type" value="buy" class="btn btn-success">Buy</button> or
        <button type="submit" name="submit_type" value="sell" class="btn btn-danger">Sell</button>
    </form>
    

    

    
</div>


<p>Current balances: </p>

{% for currency in user.coin_set.all %}
<p>{{currency.coin_name}} :  {{currency.quantity}}</p>
{% endfor %}




{% load static %}
<script src="{% static "market/js/script.js" %}"></script>


{% endblock %}