{% extends 'base.html' %}
        
{% block content %}
<!-- A grey horizontal navbar that becomes vertical on small screens -->
<nav class="navbar navbar-expand-sm bg-light">
    <ul class="navbar-nav mr-auto">
        <!-- LOGO -->
        <a class="navbar-brand" href="#">Coin-cidence</a>
        
        <!-- Links -->
        <li class="nav-item">
            <a class="nav-link" href="#">BTC</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">ETH</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">NANO</a>

    </ul>
    <ul class="navbar-nav">

        <li>
            <!-- Login/Logout button -->
        
            {% if user.is_authenticated %}
            Hello {{ user.username }}, you have a uninvested fund of ${{ user.balance.usd_balance }}!
            <a class="btn btn-primary" href="{% url 'logout' %}" role="button">Logout</a>
            {% else %}
            <p>You are not logged in</p>
            <a class="btn btn-primary" href="{% url 'login' %}" role="button">Login</a>
            {% endif %}
        
        </li>
    </ul>
</nav>



<!--Coin Status Jumbotron-->
<div class="jumbotron text-center">
    <h4>BTC Price (USD)</h4>
    <h1 class="display-1" id="BTC_price">Loading price data...</h1>
    <p></p>
    
    <!-- Action Buttons -->

    
    

    
    <form>
        <p></p>
        <div class="form-group">
            <label for="transactionQuantity">Quantity:</label>
            <input type="text" class="col-sm-2 col-form-label col-form-label-lg"  id="transactionQuantity" placeholder="Enter desired quantity">
            <small class="form-text text-muted">All transactions are final</small>
          </div>
        
          <button type="button" class="btn btn-success">Buy</button> or
          <button type="button" class="btn btn-danger">Sell</button>
    </form>
    
</div>




{% load static %}
<script src="{% static "market/js/script.js" %}"></script>


{% endblock %}